<!--<div *ngIf="message">-->
  <!--<div class="toast-header">-->
    <!--<strong class="mr-auto">Author: {{message.author}}</strong>-->
    <!--<small class="text-muted">Date: {{message.datetime}}</small>-->
  <!--</div>-->
  <!--<div class="toast-body">-->
    <!--What was said: {{message.message}}-->
  <!--</div>-->
<!--</div>-->

<div class="card text-center mb-4">
  <div class="card-header">
    Author: {{message.author}}
  </div>
  <div class="card-body">
    <p class="card-text">{{message.message}}</p>
  </div>
  <div class="card-footer text-muted">
    Date: {{time}}
  </div>
</div>
