<h4>Messages</h4>

<div *ngIf="loading" class="spinner-border">
  <span class="sr-only">Loading...</span>
</div>

<ng-container *ngIf="!loading">
<app-message-item
  *ngFor="let message of messages; let i = index"
  [message]="message"
  [time]="timeArr[i]"
></app-message-item>
</ng-container>
